header {
  background-color: #4b2473;
  color: white;
}

body {
  background-color: #eee;
  min-width: 235px;
}

header > .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

header > .container > h1 {
  margin: 10px 30px 10px 0;
}

header a {
  font-size: 22px;
  height: 22px;
  margin-top: auto;
  margin-bottom: auto;
}

header a:hover {
  cursor: pointer;
}

input {
  height: 30px;
}

textarea {
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border-width: 2px;
  border-color: #d1d1d1;
  border-style: solid;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #4b2476;
}

button {
  width: 60px;
  height: 30px;
  background-color: #4b2476;
  color: white;
  border-radius: 5px;
  border-color: transparent;
}

button:hover {
  cursor: pointer;
}

#submit-entry-btn:hover {
  background-color: #33184f;
}

img {
  width: 100%;
}

#entries-ul {
  list-style-type: none;
  padding-left: 0;
}

#new-entry-a {
  background-color: #4b2476;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

#new-entry-a:hover {
  background-color: #33184f;
  cursor: pointer;
}

.fa-pencil {
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.fa-pencil:hover {
  cursor: pointer;
  color: #828282;
}

#delete-entry-btn {
  background-color: transparent;
  color: red;
  text-decoration: underline;
  padding: 0;
  width: 80px;
}

#delete-entry-dialog {
  width: 500px;
  height: 200px;
  border-color: transparent;
  border-radius: 5px;
}

::backdrop {
  background-color: black;
  opacity: 60%;
}

#dialog-container {
  width: 100%;
  height: 100%;
}

#delete-entry-dialog h3 {
  text-align: center;
}

#delete-entry-dialog button {
  font-size: 16px;
  font-weight: 600;
  height: 35px;
}

#cancel-delete-btn {
  width: 90px;
  background-color: #b6b6b6;
  color: black;
}

#confirm-delete-btn {
  width: 100px;
  background-color: #dc2625;
}

#delete-dialog-buttons-div {
  margin-bottom: 0;
}

#search-form > div > * {
  margin: 0;
  height: 35px;
}

#search-input {
  width: calc(100% - 45px);
  font-size: 16px;
  padding-left: 8px;
}

#search-btn {
  width: 40px;
}
